body {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 13px;
	font-family: Arial;
}

.game {
	margin: 0 auto;
	width: 50%;
	min-height: 100%;
	position: relative;
}

.modal-message {
	color: #444;
	background: #f5f5f5;
	box-shadow: 0 4px 12px #666;
	border-radius: 2px;

	padding: 3px 8px;
	position: fixed;
	z-index: 100;

	top: 44%;
	height: 20px;

	left: 50%;
	margin-left: -50px;

	opacity: 1;
	transition: opacity .3s ease;
}
.hidden {
	opacity: 0;
	z-index: -1;
}
.modal-message.prompt {
	width: 176px;
	height: 94px;
	margin-left: -97px;
	margin-top: -57px;
	padding: 0;
}
.modal-message.prompt .container {
	width: 100%;
	height: 100%;
	padding: 8px;
}
.modal-message.prompt .container,
.modal-message.prompt .container * {
	z-index: 1;
}
.modal-message.prompt .container,
.modal-message.prompt .container *:not(.btn) {
	background: #fff;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.33);
	z-index: -1;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.btn {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 4px 11px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #777;
	cursor: pointer;
	background: #fff;
}
.btn:active {
    box-shadow: inset 2px 2px 3px 0px #777;
    background: #eee;
}
.btn.hidden {
	display: none;
}
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus {
	background: #ececec;
	color: #999;
	border-radius: 3px;
	box-shadow: none;
	border: 1px solid #909090;
}

.map td {
	position: relative;
	width: 20px;
	height: 20px;
}

[data-type="sea"] {
	background: #316cf7;
}

[data-type="stone"] {
	background: #c5c5c5;
}
[data-type="wood"] {
	background: #bd5d08;
}
[data-type="sheep"] {
	background: #78d478;
}
[data-type="wheat"] {
	background: #efea24;
}
[data-type="clay"] {
	background: #ff9445;
}

.map td * {
	position: absolute;
	z-index: -1;
	width: 14px;
	height: 14px;
	background: #fff;
	border: 1px solid #333;
	opacity: 0;
	transition: opacity .1s ease-out;
}
.map td .corner {
	border-radius: 50%;
}
.map td .line {
	border-radius: 35%;
}
.map td .line.added {
	border-radius: 45%;
}

.map td .added,
.map.corner-hover td .corner:not(.disabled),
.map.line-hover td .line:not(.disabled) {
	opacity: 1;
	z-index: 1;
}
.map.corner-hover td .corner,
.map td .corner.added {
	z-index: 2;
}
.map td .corner.added {
	width: 11px;
	height: 11px;
}
.map td .added,
.map[data-type="village"] td .corner:hover,
.map[data-type="town"] td .corner:hover,
.map[data-type="road"] td .line:hover {
	background: #ff2d2d;
	border: 1px solid #fff;
    box-shadow: 3px 3px 6px #444;
	cursor: pointer;
}

.map td .line.line-top {
	top: -6px;
	height: 8px;
	left: -1px;
	width: 100%;
}
.map td .line.line-bottom {
	bottom: -6px;
	height: 8px;
	left: -1px;
	width: 100%;
}
.map td .line.line-left {
	left: -6px;
	height: 100%;
	top: -1px;
	width: 8px;
}
.map td .line.line-right {
	right: -6px;
	height: 100%;
	top: -1px;
	width: 8px;
}

.map td .line.line-top .added {
	top: -4px;
	height: 4px!important;
}
.map td .line.line-bottom.added {
	bottom: -4px;
	height: 4px!important;
}
.map td .line.line-left.added {
	left: -4px;
	width: 4px!important;
}
.map td .line.line-right.added {
	right: -4px;
	width: 4px!important;
}

.map td .top-left {
	top: -9px;
	left: -9px;
}
.map td .bottom-left {
	bottom: -9px;
	left: -9px;
}
.map td .top-right {
	top: -9px;
	right: -9px;
}
.map td .bottom-right {
	bottom: -9px;
	right: -9px;
}

.map td .top-left.added {
	top: -7px;
	left: -7px;
}
.map td .bottom-left.added {
	bottom: -7px;
	left: -7px;
}
.map td .top-right.added {
	top: -7px;
	right: -7px;
}
.map td .bottom-right.added {
	bottom: -7px;
	right: -7px;
}

.description {
	line-height: 18px;
	width: 400px;
	border: 1px solid #ccc;
	border-bottom: none;
}
.description .receipt {
	height: 21px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	padding-right: 15px;
}
.description .receipt:hover {
	cursor: pointer;
	background: #eee;
}
.description .receipt.disabled,
.description .receipt.disabled:hover{
	cursor: default;
	color: #999;
	background: #f3cece;
}
.description .resource {
	width: 40px;
	height: 20px;
	margin-right: 5px;
}
