body {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 13px;
	font-family: Arial;
	color: #444;
}

.game {
	width: auto;
	min-height: 100%;
	position: fixed;
	left: 50%;
	margin-left: -201px;
	display: inline-block;
}
.game_field {
	margin-top: 4px;
}

.clearfix {
	clear: both;
}

.modal-message {
	color: #444;
	background: #f5f5f5;
	box-shadow: 0 4px 12px #666;
	border-radius: 2px;

	padding: 3px 8px;
	position: fixed;
	z-index: 100;

	top: 44%;
	height: 20px;

	left: 50%;
	margin-left: -50px;

	opacity: 1;
	transition: opacity .3s ease;
}
.hidden {
	display: none;
}
.modal-message.msg.hidden {
	display: block;
	opacity: 0;
	z-index: -1;
}
.modal-message.prompt {
	width: 176px;
	height: 94px;
	margin-left: -97px;
	margin-top: -57px;
	padding: 0;
}
.modal-message.prompt .container {
	width: 100%;
	padding: 8px;
}
.modal-message.prompt .container,
.modal-message.prompt .container * {
	z-index: 1;
}
.modal-message.prompt .container,
.modal-message.prompt .container *:not(.btn) {
	background: #fff;
}

.modal-message input,
.modal-message select,
.modal-message button {
	width: 35px;
	margin-top: 7px;
	padding: 3px 5px;
}
.modal-message select {
	width: 44px;
	margin-right: 5px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.33);
	z-index: -1;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.iblock {
	display: inline-block;
}
.abs {
	position: absolute;
	z-index: 1;
	top: 0;
}
.abs.right {
	right: 0;
}
.rel {
	position: relative;
}

.btn {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 4px 11px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #777;
	cursor: pointer;
	background: #fff;
}
.btn.hidden {
	display: none;
}
.btn:active {
    box-shadow: inset 2px 2px 3px 0px #777;
    background: #eee;
}
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus {
	background: #ececec;
	color: #999;
	border-radius: 3px;
	box-shadow: none;
	border: 1px solid #909090;
}

.map_container {
	display: inline-block;
	border: 1px solid #ccc;
}

.map td {
	position: relative;
	width: 20px;
	height: 20px;
}

[data-type="sea"] {
	background: #316cf7;
}

[data-type="stone"] {
	background: #c5c5c5;
}
[data-type="wood"] {
	background: #bd5d08;
}
[data-type="sheep"] {
	background: #78d478;
}
[data-type="wheat"] {
	background: #efea24;
}
[data-type="clay"] {
	background: #ff9445;
}

.map td * {
	position: absolute;
	display: none;
	width: 14px;
	height: 14px;
	background: #fff;
	border: 1px solid #333;
	transition: opacity .1s ease-out;
}
.map td .disabled {
	display: none;
}
.map td .added,
.map[data-type="road"] td  .line:not(.disabled),
.map[data-type="village"] td  .corner:not(.disabled),
.map[data-type="town"] td  .corner:not(.disabled) {
	display: block;
}
.map td .corner {
	border-radius: 50%;
}
.map td .line {
	border-radius: 35%;
}
.map[data-type] td .line {
	z-index: 1;
}
.map[data-type] td .corner {
	z-index: 2;
}

.map td .num {
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -6px;
	width: 12px;
	height: 12px;
	z-index: 1;
	display: block;
	border-radius: 50%;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	transition: transform .3s ease-in;
}
.map td .num.min {
	color: #fff;
	background: rgba(39, 0, 255, 1);
}
.map td .num.avg {
	color: #2b00b1;
	background: rgba(16, 255, 0, 1);
}
.map td .num.max {
	color: #fff;
	background: rgba(255, 0, 0, 1);
}
.map td .num.big {
	z-index: 10;
	transform: scale(1.7);
	transition: transform .3s ease-out;
}

.map td .line.added {
	z-index: 3;
	border-radius: 45%;
}
.map td .corner.added {
	z-index: 4;
	width: 11px;
	height: 11px;
}
.map td .line:hover {
	z-index: 3;
}
.map td .corner:hover {
	z-index: 4;
}

.map td .added,
.map[data-type="village"] td .corner:not(.disabled):hover,
.map[data-type="town"] td .corner:not(.disabled):hover,
.map[data-type="road"] td .line:not(.disabled):hover {
	background: #ff2d2d;
	border: 1px solid #fff;
    box-shadow: 5px 4px 9px #000;
	cursor: pointer;
}

.map td .line.line-top {
	top: -6px;
	height: 8px;
	left: -1px;
	width: 100%;
}
.map td .line.line-bottom {
	bottom: -6px;
	height: 8px;
	left: -1px;
	width: 100%;
}
.map td .line.line-left {
	left: -6px;
	height: 100%;
	top: -1px;
	width: 8px;
}
.map td .line.line-right {
	right: -6px;
	height: 100%;
	top: -1px;
	width: 8px;
}

.map td .line.line-top.added {
	top: -4px;
	height: 4px!important;
}
.map td .line.line-bottom.added {
	bottom: -4px;
	height: 4px!important;
}
.map td .line.line-left.added {
	left: -4px;
	width: 4px!important;
}
.map td .line.line-right.added {
	right: -4px;
	width: 4px!important;
}

.map td .top-left {
	top: -9px;
	left: -9px;
}
.map td .bottom-left {
	bottom: -9px;
	left: -9px;
}
.map td .top-right {
	top: -9px;
	right: -9px;
}
.map td .bottom-right {
	bottom: -9px;
	right: -9px;
}

.map td .top-left.added {
	top: -7px;
	left: -7px;
}
.map td .bottom-left.added {
	bottom: -7px;
	left: -7px;
}
.map td .top-right.added {
	top: -7px;
	right: -7px;
}
.map td .bottom-right.added {
	bottom: -7px;
	right: -7px;
}

.actual {
	width: 169px;
	float: right;
	margin-left: 4px;
}
.actual .res_info[data-type] {
	float: left;
	padding: 5px;
	margin-right: 5px;
	width: 51px;
}
.actual .menu {
	top: 25px;
	width: 102px;
	padding: 3px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #ccc;
}
.actual .menu .item {
	line-height: 22px;
	padding-left: 7px;
}
.actual .menu .item:hover {
	cursor: pointer;
	opacity: .5;
}

.description {
	line-height: 18px;
	width: 400px;
	border: 1px solid #ccc;
	border-bottom: none;
	width: 100%;
	box-sizing: border-box;
}
.description .receipt {
	height: 21px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	padding-right: 15px;
}
.description .receipt:hover {
	cursor: pointer;
	background: #eee;
}
.description .receipt.disabled,
.description .receipt.disabled:hover{
	cursor: default;
	color: #999;
	background: #f3cece;
}
.description .resource {
	width: 40px;
	height: 20px;
	margin-right: 5px;
	text-align: center;
}
