<div v-show="show" class="modal-message prompt" :class="[cls ? ' '+cls : '']">
	<div class="overlay" :data-cancel="cancel ? 1 : ''"></div>
	
	<div class="container">
		<div class="title">{{ title }}</div>
		<form>
			<div><--h.input({value: 2, required: 'required'})--></div>
			<div><--h.select({5:5,6:6,7:7,8:8,9:9,10:10}) + h.select({5:5,6:6,7:7,8:8,9:9,10:10})--></div>
			<div><--h.button('OK', {type: 'submit', 'class': 'btn'})--><span v-if="cancel" :data-cancel="cancel ? 1 : ''" class="btn cancel">Отмена</span></div>
		</form>
	</div>
</div>